*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0F0F0F;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
input, select{
    background-color: #0F0F0F;
    outline: #000000;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

form{
    min-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto;
    padding: 10px;
}

button{
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

h2{
    text-align: center;
}